.Banner{
    background-image: url(../public/assets/img/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
    

    &Text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
        position: absolute;
        top: 15rem;
        left: 0;
        right: 0;

    }
    &TextDown{
        font-size: 2rem;
        color: #fff;
        text-align: center;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        padding-top: 14rem;
        animation: bounce 2s infinite;
        bottom: 15rem;
        position: absolute;
        left: 0;
        right: 0;
    }
    &DownArrow{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        animation: bounce 2s infinite;
        position: absolute;
        bottom: 10rem;
        left: 0;
        right: 0;
    }
}

.Profile{
    width: 40%;
    background-color: #F5F5F5;
    padding: 3rem;
    border-radius: 3rem;
    border: 0.1rem solid rgb(0,0,0, 0.2);
    box-shadow: 0.1rem 0.1rem 2rem rgba(0,0,0,0.5);
    margin: 0rem auto;

    &Me{
        width: 15rem;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
}

.Info{
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    margin: 0rem auto;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 0.1rem solid rgb(0,0,0, 0.2);
    box-shadow: 0.1rem 0.1rem 1rem rgba(0,0,0,0.5);


    &Nav{
        width: 100%;
        padding: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: rgb(199, 199, 199);

        &Item{
            transition: 0.5s;
            margin: 1rem;
            cursor: pointer;
        }

        &Item:hover{
            background-color: #000;
            color: #fff;
            padding: 1rem;
            border-radius: 0.5rem;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}


.InfoCont{
    width: 100%;
    // height: 90vh;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 65rem;
    min-width: 23rem;
    overflow-x: hidden;
    overflow-y: scroll;

    &Works{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    &WorksCardImg{
        margin-top: 2rem;
        width:15rem;
        height: 15rem;
        border-radius: 3rem;
        object-fit: cover;
    }
    &WorksCardTitle{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}

.InfoTetch{
    &Cont{
        width: 100%;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;
        max-height: 40rem;
        background-color: rgb(218, 218, 218);
        border-radius: 2rem;

        &Header{
            display: flex;
            justify-content: flex-start;
            vertical-align: middle;
            padding-bottom: 0rem;

        }
    }

    &Img{
        width: 2.5rem;
        height: 2.5rem;
    }

    &Title{
        vertical-align: middle;
        text-align: center;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
    }
    &Desc{
        vertical-align: middle;
        text-align: justify;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        font-weight: 300;
    }
}

.Contact{
    &Cont{
        max-height: 70rem;
        min-width: 23rem;
    }
    &Card{
        width: 23rem;
        border-radius: 2rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #E4E4E4;
        padding: 2rem;
        margin-bottom: 1rem;

        img{
            width: 6rem;
            height: 6rem;
        }

        p{
            font-size: 1rem;
            font-weight: 500;
            color: rgba(0,0,0,1);
        }
    }
}

.Tetch{
    &Cont{
        width: 100%;
        height: 100rem;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;
        max-height: 65rem;
        min-width: 23rem;
        overflow-x: hidden;
        overflow-y: scroll;

        &Works{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));


            &Card{
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                background-color: rgb(218, 218, 218);
                margin-left: auto;
                margin-right: auto;
                border: 0.1rem solid rgb(0, 0, 0);
                margin-top: 2rem;
                margin-bottom: 2rem;
                vertical-align: top;
                justify-content: center;
                align-items: center;
                align-self: center;
                align-content: center;
                transition: 0.5s;
                
                
                &Img{
                    display: flex;
                    padding: 0rem;
                    margin: 0 auto;
                    margin-top: 1.5rem;
                    width:8rem;
                    height: 8rem;
                    border-radius: 50%;
                }
            }
            &Card:hover{
                transform: scale(1.2);
                background-color: rgb(230, 255, 198);
                transition: 0.5s;
            }
        }
    }

}



@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
   }
    
   @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
   }
    
   @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
   }
   @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
   }
